@use "../../../assets/css/mediaquery";

.mainLink {
  font-family: "RedditMono", sans-serif;
  position: absolute;
  font-size: 2rem;
  text-decoration: none;
  color: #333333;
  background: rgba(0,0,0,0);
  transition: all 2.0s ease-in-out;
  z-index: 100;
  &.topleft, &.bottomleft {
    padding: 40px 50px 40px 40px;
  }

  &.topright, &.bottomright {
    padding: 40px 40px 40px 50px;
  }
  &__box {
    display: block;
    background: #333333;
    width: 100%;
    height: 10px;
    position: absolute;
    transition: all 2.0s ease-in-out;
  }

  &__text {
    position: relative;
  }

  &__sideLine {
    display: block;
    background: #333333;
    position: absolute;
    transition: all 2.0s ease-in-out;
    pointer-events: none;
    &.vertical {
      width: 2px;
      height: 50px;
    }
    &.horizontal {
      width: 50px;
      height: 2px;
    }
  }
  &:hover {
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    background: #FE7171;
    .mainLink__box {
      transition: all 0.3s ease-in-out;
      background: #FE7171;
    }
    .mainLink__sideLine {
      transition: all 0.3s ease-in-out;
      background: #FE7171;
      &.vertical {
        height: 100%;
      }
      &.horizontal {
        width: 100%;
      }
    }
  }

  @include mediaquery.mq("md") {
    font-size: 1rem;
    &.topleft, &.bottomleft {
      padding: 20px 30px 20px 20px;
    }
    &.topright, &.bottomright {
      padding: 20px 20px 20px 30px;
    }
    &__box {
      height: 4px;
    }

  }
}