.aboutMeContainer {
  overflow-y: auto;
  &__databody {
    h2 {
      line-height: 1;
      font-size: 1.4rem;
    }
    p {
      color: #666666;
    }
    &__top {
      position: relative;
      display: flex;
      margin-bottom: 60px;
      padding: 0 40px;
      &__image {
        position: relative;
        width: 100px;
        min-width: 100px;
        height: 100px;
        margin-right: 40px;
        &:before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 20px;
          background: #cccccc;
          bottom: 10px;
          left: 20px;
        }
        img {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 2px solid #333333;
        }
      }
      &__profile {
        h2 {
          margin-bottom: 10px;
        }
      }
    }
    &__middle {
      margin: 0 40px;
      h2 {
        display: inline-block;
        position: relative;
        font-weight: normal;
        margin-bottom: 10px;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 20px;
          background: #cccccc;
          top: 10px;
          left: 10px;
          z-index: -1;
        }
      }
    }
  }
  &__data {
    position: relative;
    border-bottom: 1px solid #cccccc;
    padding: 30px 20px 30px 20px;

    h3 {
      font-size: 1.3rem;
      a {
        color: #666666;
        &:hover {
          background: #666666;
        }
      }
    }
    &--description {
      ul {
        padding: 10px 40px;
      }
    }
  }
}