.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index:1;
  &__randomizeLine {
    div {
      transition: all 3.0s ease-in-out;
      position: absolute;
      opacity: 0;
    }
    &.black div {
      background: #cccccc;
    }
    &.red div {
      background: #FE7171;
    }
  }

  &__randomizeCircle {
    div {
      transition: all 3.0s ease-in-out;
      position: absolute;
      border-radius: 100%;
      opacity: 0;
    }
    &.black div {
      background: #cccccc;
    }
    &.red div {
      background: #FE7171;
    }
  }
}